:root {
  --primary-color: #e3e7af;
  --secondary-color: #a2a77f;
  --tertiary-color: #eff1c5;
  --quaternary-color: #035e7b;
  --quinary-color: #002e2c;
  --senary-color: black;
}

/*Basic types */

body {
  background-color: var(--secondary-color);
  font-family: "Open Sans";
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1vw;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* main Sections */

.MainSection {
  background-color: var(--primary-color);
  padding: 4em;
  margin: 2em;
  border-radius: 2em;
}

/* Text classes */

.Title {
  color: var(--senary-color);
}

.Subtitle {
  color: var(--quaternary-color);
}

/*Text IDs */

#Fullname {
  font-size: 5em;
}

/* Buttons */
.button {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.button-type1 {
  box-sizing: border-box;
  color: var(--quaternary-color);
  border-color: var(--quaternary-color);
  border: solid;
  padding: 0.2em 0.4em;
  font-weight: bold;
}

.button-type2 {
  color: var(--senary-color);
  background-color: var(--secondary-color);
  padding: 0.3em 0.6em;
  font-weight: 400;
}

.button-type3 {
  color: var(--senary-color);
  padding: 0.25em 0.5em;
  font-weight: 400;
}

/* Images */

.Image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#Banner {
  border-radius: 50%;
  width: 30em;
  border: solid;
  border-color: var(--quaternary-color);
  border-width: 0.5em;
}

a,
.Description p {
  color: var(--senary-color);
  width: auto;
}

.svg {
  /* Color Filter for SVGs */
  filter: invert(23%) sepia(53%) saturate(2117%) hue-rotate(167deg)
    brightness(96%) contrast(98%);
}

/* Header */

.PresentationCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  column-gap: 2em;
  row-gap: 6em;
  padding: 2em;
}

.SocialMedia {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  gap: 1em;
}

.PageButtons {
  grid-column: 1/3;
}

.MyInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* About Me */

/* Skills */

.SkillsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  gap: 4em;
  margin: 2em;
}

/* Education */

.EducationTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Work */

.Project {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 0.1em solid var(--quaternary-color);
}

.Project:last-of-type {
  border-bottom: none;
}

.ProjectGif {
  grid-row: 1/4 ;
  height: auto;
  width: 100%;
  border-radius: 2em;
}

.PrjctInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
}

/* Experience */

.ExperienceTable {
  display: flex;
  flex-direction: column;
}

.ExpElement {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 0.1em solid var(--quaternary-color);
}

.ExpElement:last-of-type {
  border-bottom: none;
}