:root {
    --primary-color: #E3E7AF;
    --secondary-color: #A2A77F;
    --tertiary-color: #EFF1C5;
    --quaternary-color:#035E7B;
    --quinary-color:#002E2C;
    --senary-color: black;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Open Sans';
}

header {
    background-color: var(--primary-color);
    padding-bottom: 4em;
}

.Title {
    color: var(--senary-color);
}

.Subtitle {
    color: var(--quaternary-color);
}
.button-type1 {
    box-sizing: border-box;
    color: var(--quaternary-color);
    border-color: var(--quaternary-color);
    border: solid;
    padding: 0.2em 0.4em;
    font-weight: bold;
    text-decoration: none;

}

.button-type2 {
    color: var(--senary-color);
    background-color: var(--secondary-color);
    padding: 0.3em 0.6em;
    font-weight:400;
    text-decoration: none;
}

.button-type3 {
    color: var(---color);
    padding: 0.25em 0.5em;
    font-weight:400;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a,
.Description p {
    color: var(--senary-color);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.Title.Fullname{
    font-size: 5em;
}

.Banner {
    border-radius: 50%;
}